body{
    background: linear-gradient(to left, #ff0000, #f16767);
    height: 100vh;
    margin: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
}

div#left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
div#left h1{
    text-align: center;
    font-size: 7vh;
}
div#right{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}
.form-dn{
    width: 50vh;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1vh;
    border-radius: 1vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2vh;
}
.form-dn h2{
    text-align: center;
    margin-bottom: 2vh;
    font-size: 4vh;
}
.form-group {
    margin-top: 1vh;
    margin-bottom: 1vh;
    
}

 .form-group label {
    display: block;
    font-size: 1.7vh;

}
.form-dn input[type="text"]
{
width: 95%;
padding: 1vh;
margin: 1vh;
border-radius: 1vh;
border: 1px solid black;
}
div#dong1{
    display:flex;
    justify-content: space-between ;
    margin-top: 2vh;
    font-size: 1.7vh;
}
div#dong1 a
{   text-decoration: none;
    color:white;
    margin-left: 27vh;
    
}

.form2 label input {
    margin-right:1vh ;
}
p
{
    text-align: center;
}
p a {
    
    color:white;
    text-decoration: none;
    font-size: 1.7vh;
    
}
div#dong2{
    margin-left: 29vh;
    margin-top: 1vh;
    font-size: 1.7vh;
}
div#right button{
    width: 100%;
    height: 4vh;
    border-radius: 4vh;
    background: #fff;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    font-size: 3vh;
    font-weight: 700;
    font-size: 2.6vh;
    color: #ff0000;
    margin-bottom: 2vh;
}
div#left img{
    width:35vh;
     height:35vh;
}